.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.client {
  display: block;
  flex-basis: calc((100% + 30px) / 2 - 30px);
  margin-top: 30px;
  margin-right: 30px;
  cursor: pointer;

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  &:nth-child(-n + 2) {
    margin-top: 0;
  }
}
.icon-client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color3);
  border-radius: 4px;
  height: 92px;
  color: var(--main-color3);
  outline: none;
  transition-property: border-color, color;
  transition-duration: var(--transition-during), var(--transition-during);
  transition-timing-function: var(--transition-cub), var(--transition-cub);

  &:hover,
  &:active,
  &:focus {
    border-color: var(--accent-color);
  }
}

//  ===============    TABLET   768    ===========

@media screen and (min-width: 768px) {
  .clients {
    & > :nth-child(n) {
      flex-basis: calc((100% + 30px) / 3 - 30px);
      margin: 30px 30px 0 0;
    }

    & > :nth-child(-n + 3) {
      margin-top: 0;
    }

    & > :nth-child(3n) {
      margin-right: 0;
    }
  }
}

//  ===============    DESKTOP   1200    ===========
@media screen and (min-width: 1200px) {
  .clients {
    & > :nth-child(n) {
      flex-basis: calc((100% + 30px) / 6 - 30px);
      margin: 30px 30px 0 0;
    }

    & > :nth-child(-n + 6) {
      margin-top: 0;
    }

    & > :nth-child(6n) {
      margin-right: 0;
    }
  }
}
