:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --main-color2: #757575;
  --main-color3: #afb1b8;
  --hero-bg: #c4c4c4;
  --icon-color: #fff;
  --icon-color2: AFB1B8;
  --icon-bg: #ffffff1a;
  --bg-color: #f5f4fa;
  --bg-color2: #2f303a;
  --bg-card-color: #fff;
  --color-logo: #000000;
  --footer-color: #fff;
  --footer-color2: #ffffff99;
  --btn-text-color: #fff;
  --btn-text-color2: #212121;
  --btn-background-color: #f5f4fa;
  --modal-ovarley: #00000033;
  --modal-bg-color: #fff;
  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-during: 250ms;
}
